In [5]:
# 1. 라이브러리 사용
import pandas as pd
import tensorflow as tf

In [7]:
# 2. 과어의 데이터를 준비
보스턴 = pd.read_csv('https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv')
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [8]:
# 3. 독립변수, 종속변수 분리
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [9]:
# 4. 모델의 구조를 만듭니다
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [14]:
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Train on 506 samples
Epoch 1/10
506/506 [==============================] - 0s 38us/sample - loss: 26.0311
Epoch 2/10
506/506 [==============================] - 0s 51us/sample - loss: 25.7727
Epoch 3/10
506/506 [==============================] - 0s 58us/sample - loss: 26.5214
Epoch 4/10
506/506 [==============================] - 0s 47us/sample - loss: 26.0309
Epoch 5/10
506/506 [==============================] - 0s 54us/sample - loss: 26.2013
Epoch 6/10
506/506 [==============================] - 0s 41us/sample - loss: 25.9990
Epoch 7/10
506/506 [==============================] - 0s 53us/sample - loss: 26.1377
Epoch 8/10
506/506 [==============================] - 0s 62us/sample - loss: 26.4860
Epoch 9/10
506/506 [==============================] - 0s 48us/sample - loss: 25.9940
Epoch 10/10
506/506 [==============================] - 0s 59us/sample - loss: 25.9197

In [15]:
# 4. 모델을 이용합니다
model.predict(독립[0:5]) #0부터 5번째꺼 까지만 사용

array([[29.56202 ],
       [24.764683],
       [30.505371],
       [29.779589],
       [29.155249]], dtype=float32)

In [17]:
종속[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [18]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.08651684],
        [ 0.07189164],
        [-0.06038664],
        [ 3.4076278 ],
        [ 2.2895515 ],
        [ 4.063025  ],
        [ 0.01262974],
        [-0.9196257 ],
        [ 0.15328875],
        [-0.00901258],
        [-0.02254527],
        [ 0.01538731],
        [-0.5722061 ]], dtype=float32),
 array([3.001395], dtype=float32)]

집값 = (-0.08651684) * x1 + (0.07189164) * x2 + (-0.06038664) * x3 + (3.4076278) * x4 + (2.2895515) * x5 + (4.063025) * x6 + ( 0.01262974) * x7 + (-0.9196257) * x8 + ( 0.15328875) * x9 + (-0.00901258) * x10 + (-0.02254527) * x11 + (0.01538731) * x12 + (-0.5722061) * x13