In [20]:
# 1. 라이브러리 사용
import pandas as pd
import tensorflow as tf

In [21]:
# 2. 과어의 데이터를 준비
보스턴 = pd.read_csv('https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv')
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [22]:
# 3. 독립변수, 종속변수 분리
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [32]:

X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(10, activation = 'sigmoid')(X)
Y = tf.keras.layers.Dense(1)(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [33]:
model.summary()

Model: "model_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_9 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense_11 (Dense)             (None, 10)                140
_________________________________________________________________
dense_12 (Dense)             (None, 1)                 11
=================================================================
Total params: 151
Trainable params: 151
Non-trainable params: 0
_________________________________________________________________

In [24]:
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Train on 506 samples
Epoch 1/10
506/506 [==============================] - 0s 41us/sample - loss: 78.2442
Epoch 2/10
506/506 [==============================] - 0s 41us/sample - loss: 78.2348
Epoch 3/10
506/506 [==============================] - 0s 47us/sample - loss: 78.2371
Epoch 4/10
506/506 [==============================] - 0s 39us/sample - loss: 78.2342
Epoch 5/10
506/506 [==============================] - 0s 45us/sample - loss: 78.2291
Epoch 6/10
506/506 [==============================] - 0s 45us/sample - loss: 78.2306
Epoch 7/10
506/506 [==============================] - 0s 34us/sample - loss: 78.2268
Epoch 8/10
506/506 [==============================] - 0s 40us/sample - loss: 78.2243
Epoch 9/10
506/506 [==============================] - 0s 39us/sample - loss: 78.2263
Epoch 10/10
506/506 [==============================] - 0s 47us/sample - loss: 78.2248

In [25]:
# 4. 모델을 이용합니다
model.predict(독립[0:5]) #0부터 5번째꺼 까지만 사용

array([[22.993021],
       [22.993021],
       [22.993021],
       [22.993021],
       [22.993021]], dtype=float32)

In [26]:
종속[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [27]:
# 모델의 수식 확인
model.get_weights()

[array([[ 0.45722753,  0.57616997,  0.09456629, -0.0187839 , -0.35900518,
          0.1250108 ,  0.5103294 ,  0.2217387 , -0.26550728,  0.27812028],
        [-0.08380166,  0.21950303,  0.48321813,  0.2276994 ,  0.03531813,
         -0.09677421,  0.22335231,  0.07466501,  0.2077544 , -0.06103858],
        [ 0.11933607, -0.17498137,  0.53659326,  0.22391659, -0.00438613,
          0.36050525, -0.32034564, -0.15053776, -0.31802985,  0.50267714],
        [-0.01984149, -0.17691265,  0.42297938, -0.10312694,  0.439511  ,
         -2.1896715 ,  0.41371137, -0.13777423,  0.39665842,  0.18893969],
        [-0.48971236, -0.26599008, -0.04081192, -0.4546227 , -0.35753036,
         -0.58052474,  0.1911065 , -0.43088993,  0.32844588, -0.3667159 ],
        [ 0.12209851, -0.01757694,  0.04060124,  0.04800212,  0.13568175,
         -0.45556435, -0.07813177,  0.3920098 ,  0.35954407, -0.42177045],
        [-0.2779374 ,  0.4292477 ,  0.47006643,  0.24428803, -0.47587526,
          0.00389854, -0.3660844 ,  0.20964086, -0.53088325, -0.23704487],
        [-0.47061262, -0.12626527, -0.21117279, -0.45157093,  0.02949211,
         -0.6878137 ,  0.02036655, -0.2608711 , -0.39851764, -0.11610481],
        [ 0.15192038, -0.2920193 ,  0.05499157, -0.25195575,  0.20966744,
          0.9872105 , -0.25540182, -0.5106408 , -0.38041157,  0.11391145],
        [-0.41830614,  0.1768144 ,  0.31897083,  0.29128957,  0.26057637,
         -0.13507976, -0.11941472, -0.18390632, -0.21603134, -0.20281476],
        [-0.25059798,  0.3598172 ,  0.40415886, -0.48734838,  0.24166898,
         -0.4668283 , -0.27813455, -0.21705651, -0.62964   , -0.41004527],
        [-0.25928175, -0.08223892, -0.18028787,  0.3476997 ,  0.02108194,
          0.6514958 , -0.13076106, -0.37856972,  0.05187213,  0.02481192],
        [-0.29277158,  0.5992989 ,  0.18866834, -0.12100837,  0.03991297,
         -0.8109859 ,  0.19808471, -0.17584491, -0.58046305, -0.03493649]],
       dtype=float32),
 array([ 0.00000000e+00,  2.03969046e-01,  1.22699805e-01,  0.00000000e+00,
         2.65229754e-02, -1.28832564e-01,  2.69779354e-23,  0.00000000e+00,
        -1.44059122e-01,  1.06245748e-13], dtype=float32),
 array([[ 0.2883969 ],
        [ 3.4992783 ],
        [ 3.440028  ],
        [ 3.2267196 ],
        [ 3.4595544 ],
        [ 6.104042  ],
        [ 0.54573244],
        [-0.2712504 ],
        [-0.14649719],
        [ 0.33122736]], dtype=float32),
 array([3.2633998], dtype=float32)]

집값 = (-0.08651684) * x1 + (0.07189164) * x2 + (-0.06038664) * x3 + (3.4076278) * x4 + (2.2895515) * x5 + (4.063025) * x6 + ( 0.01262974) * x7 + (-0.9196257) * x8 + ( 0.15328875) * x9 + (-0.00901258) * x10 + (-0.02254527) * x11 + (0.01538731) * x12 + (-0.5722061) * x13

In [28]:
print(tf.__version__)

2.1.0